body {
    background-color: #131313;
}

header {
    background-color: #4b2e83;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 90%;
}

h1 {
    color: #acacac;
    margin-left: 10%;
    font-size: 200%;
    font-size: 4vh;
}

p {
    color: #acacac;
}

#mainbody {
    position: fixed;
    top: 10%;
}

#grad1 {
    border: 2px solid #acacac;
    background-image: linear-gradient(90deg, #4b2e83, 90%, #b7a57a);
}
